<div class="center">
  <a href="/img/distant-fixes-uviriths-manor.png"><img src="/img/distant-fixes-uviriths-manor.png" title="Distant Fixes: Uvirith's Manor" /></a>
  <p style="font-size: 1.4em;" class="bold">This mod requires OpenMW 0.47.0 or newer!</p>
</div>
<p>Prevents distant things from popping out and in at various points in the story.</p>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\DistantFixes\distant-fixes-uviriths-manor

# Linux
/home/username/games/OpenMWMods/DistantFixes/distant-fixes-uviriths-manor

# macOS
/Users/username/games/OpenMWMods/DistantFixes/distant-fixes-uviriths-manor</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file, for example:
    <pre><code>data="C:\games\OpenMWMods\DistantFixes\distant-fixes-uviriths-manor"</code></pre>
  </li>
  <li>Enable the mod plugin via OpenMW-Launcher (<a href="https://www.youtube.com/watch?v=xzq_ksVuRgc">video</a>), or add this to <code>openmw.cfg</code> (<a href="https://openmw.readthedocs.io/en/latest/reference/modding/mod-install.html#install">official OpenMW documentation</a>):
    <pre><code>content=DistantFixesUvirithsManor.esp</code></pre>
  </li>
  <li>You should load this plugin right after <code>HM_DDD_Strongholds_T_v1.0.esp</code> (from <a href="https://www.nexusmods.com/morrowind/mods/51236">Dynamic Distant Buildings for OpenMW</a>).</li>
</ol>
